<% if current_user == 'guest' %>
  <%= tag.div :class => :center do %>
    <%= wwemc_purchase "Buy the book so you can make lists", :sharer => false %>
  <% end %>
<% end %>
<div id="list_navigation" class="header_links">
  <%= link_to 'Newest', :sort => 'recent' %>
  <%= link_to 'Alpha', :sort => 'alpha' %>
  <%= begin_list_link %>
</div>

<div id="lists">
  <% if params[:page].blank? %>
    <em>examples of list formatting<span>&lt;- get to know the tools</span></em>
    <section>
      <% @examplary.each do |list| %>
        <%= div_for list, :class => cycle(:three, :five, :seven, :five) do %>
          <%= link_to list.name, list %>
          <%= publish_controls_for list %>
          <%= pin_controls_for list %>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <em>pinned lists<span>&lt;- be sure to take a look</span></em>
  <section>
    <% @prominent.each do |list| %>
      <%= div_for list, :class => cycle(:one, :nine) do %>
        <%= link_to list.name, list %>
        <%= publish_controls_for list %>
        <%= pin_controls_for list %>
      <% end %>
    <% end %>
  </section>

  <em><%= params[:sort] || 'shuffled' %><span>&lt;- the bulk of lists are found here</span></em>
  <section class="shown">
    <% @lists.each do |list| %>
      <%= div_for list, :class => cycle(:one, :two, :three, :four, :five, :six, :seven, :eight, :nine) do %>
        <%= link_to list.name, list %>
        <%= publish_controls_for list %>
        <%= pin_controls_for list %>
      <% end %>
    <% end %>
    <%= paginate @lists %>
  </section>
  
  <em>seeking suggestions<span>&lt;- share your knowledge of community and culture!</span></em>
  <section>
    <% @suggestion_seeking.each do |list| %>
      <%= div_for list, :class => cycle(:two, :four, :six, :eight) do %>
        <%= link_to list.name, list %>
        <%= publish_controls_for list %>
        <%= pin_controls_for list %>
      <% end %>
    <% end %>
  </section>
  
  <% if @lists.last_page? %>
    <em>out of the way<span>&lt;- these aren't as public-facing but still receive suggestions sometimes</span></em>
    <section>
      <% @deferred.each do |list| %>
        <%= div_for list, :class => cycle(:one, :two, :three, :four, :five, :six, :seven, :eight, :nine) do %>
          <%= link_to list.name, list %>
          <%= publish_controls_for list %>
          <%= pin_controls_for list %>
        <% end %>
      <% end %>
    </section>
  <% end %>
</div>
<% if current_user == 'guest' %>
  <%= tag.div :class => :center do %>
    <%= wwemc_purchase "Buy the book; then you can make lists!" %>
  <% end %>
<% end %>
