<div id="list_navigation" class="header_links">
  <%= link_to 'Newest', :sort => 'recent' %>
  <%= link_to 'Alpha', :sort => 'alpha' %>
  <%= begin_list_link %>
</div>

<div id="lists">
  <% if params[:page].blank? %>
    <em>examples of list formatting</em>
    <section>
      <% @examplary.each do |list| %>
        <%= div_for list, :class => cycle(:three, :five, :seven, :five) do %>
          <%= link_to list.name, list %>
          <%= publish_controls_for list %>
          <%= pin_controls_for list %>
        <% end %>
      <% end %>
    </section>
    <%= tag.br %><%= tag.br %>
  <% end %>

  <em>pinned lists</em>
  <section>
    <% @prominent.each do |list| %>
      <%= div_for list, :class => cycle(:one, :nine) do %>
        <%= link_to list.name, list %>
        <%= publish_controls_for list %>
        <%= pin_controls_for list %>
      <% end %>
    <% end %>
  </section>
  <%= tag.br %><%= tag.br %>

  <em><%= params[:sort] || 'shuffled' %></em>
  <section>
    <% @lists.each do |list| %>
      <%= div_for list, :class => cycle(:one, :two, :three, :four, :five, :six, :seven, :eight, :nine) do %>
        <%= link_to list.name, list %>
        <%= publish_controls_for list %>
        <%= pin_controls_for list %>
      <% end %>
    <% end %>
    <%= begin_list_link %>
  </section>
  <%= paginate @lists %>
  <%= tag.br %><%= tag.br %>
  
  <em>seeking suggestions</em>
  <section>
    <% @suggestion_seeking.each do |list| %>
      <%= div_for list, :class => cycle(:two, :four, :six, :eight) do %>
        <%= link_to list.name, list %>
        <%= publish_controls_for list %>
        <%= pin_controls_for list %>
      <% end %>
    <% end %>
  </section>
  <%= tag.br %><%= tag.br %>
  
  <% if @lists.last_page? %>
    <em>out of the way</em>
    <section>
      <% @deferred.each do |list| %>
        <%= div_for list, :class => cycle(:one, :two, :three, :four, :five, :six, :seven, :eight, :nine) do %>
          <%= link_to list.name, list %>
          <%= publish_controls_for list %>
          <%= pin_controls_for list %>
        <% end %>
      <% end %>
    </section>
  <% end %>
</div>
