<div class="list">
  <%= form_with :model => @list do |list_form| %>
    <%= div_for @list, :name_of do %>
      <%= list_form.text_field :name, :placeholder => 'Name the list' %>
    <% end %>
    <%= div_for @list, :description_of do %>
      <%= list_form.text_area :description, :placeholder => 'Describe the list (optional)' %>
    <% end %>
    
    <%= div_for @list, :privacy_options_for do %>
      <privacy>
        <%= list_form.radio_button :privacy, :draft %>
        <%= list_form.label :privacy, :draft %>
      </privacy>
      <privacy>
        <%= list_form.radio_button :privacy, :unreviewed %>
        <%= list_form.label :privacy_unreviewed, 'Public' %>
      </privacy>
      <privacy>
        <%= list_form.radio_button :privacy, :unreviewed_secret %>
        <%= list_form.label :privacy_unreviewed_secret, 'Just for my muggles' %>
      </privacy>
    <% end %>
    
    <%= div_for @list, :sorting_options_for do %>
      <order>
        <%= list_form.radio_button :mode, :numbered %>
        <%= list_form.label :mode, :numbered %>
      </order>
      <order>
        <%= list_form.radio_button :mode, :ordered %>
        <%= list_form.label :mode, :ordered %>
      </order>
      <order>
        <%= list_form.radio_button :mode, :randomized %>
        <%= list_form.label :mode, :randomized %>
      </order>
    <% end %>
    
    <%= div_for @list, :submission_of do %>
      <%= list_form.submit %>
    <% end %>
  <% end %>
</div>
