<div id="lists">
  <% @lists.each do |list| %>
    <%= div_for list, :approval_interface_for do %>
      <%= link_to list.name, list %>
      <%= list.description %>
      <%= tag.br %>
      <%= link_to 'approve', approve_list_path(list), :method => :put, :remote => true %>
      <%= link_to 'reject', reject_list_path(list), :method => :put, :remote => true %>
    <% end %>
  <% end %>
</div>
