<section id="homepage">
  <section style="text-align: center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VL9uiXndNEo" frameborder="0" allowfullscreen></iframe>
    <%= clearboth %>
  </section>
  <section id="introduction">
    <section>
      Ways We Enjoy Magic Cards is a new book about Magic, the world's best and most popular card game.
    </section>
  
    <section>
      It describes 20 ways to enjoy Magic and its culture.  Nine of them are free, and most are affordable.
    </section>
  </section>
  <%= wwemc_purchase "I want the book" %>
  <section id="license">
    <section>
      If you buy the book for $2, you get to send it to 4 friends.
    </section>
  
    <section>
      You'll receive a PDF and access to the online edition.  Since not everyone can make purchases online, we make a free <%= link_to 'chapter', free_book_chapters_path(Book.featured) %> available every day.
    </section>
  </section>
  <%= wwemc_purchase "I have $2!" %>
  <section id="explanation">
    <section>
      Magic: The Gathering was first played 25 years ago.  It rapidly spread, gradually developed, and after a couple big ups and downs, it has grown to a new peak.
    </section>
  
    <section>
      Magic is not one game, but a framework for various formats, each of which creates different trends and challenges.  Ways We Enjoy Magic Cards will help you and your loved ones find formats that are fun for every occasion.
    </section>
  </section>
  <%= wwemc_purchase "That's worth more than $2" %>
</section>
<% content_for :open_graph do %>
  <%= open_graph_tags %>
<% end %>
