<section id="homepage">
  <section>
    <section>
      Ways We Enjoy Magic Cards isn't about how to play Magic or how to win.  It describes the incredibly varied ways to play and why each one is fun in different ways.
    </section>
  
    <section>
      There are also lots of engaging pursuits besides playing, and as you learn the game you'll be surprised how much it stays on your mind.
    </section>
  </section>
  <%= wwemc_purchase %>
  <section>
    <section>
      Magic cards interact with each other along many dimensions.  This makes the combinations never-ending.  The interactions stack up in layers, which makes you feel pretty smart!
    </section>
  
    <section>
      Almost every player enjoys analysis, and the complexity of their theories makes people think they are right.  You can school them when you stay humble and learn well.
    </section>
  </section>
  <%= wwemc_purchase %>
  <section>
    <section>
      Magic releases new formats every three months, and many of the newest sets have given us some of the best puzzles yet.
    </section>
  
    <section>
      Lots of players use new cards; some decks contain new mixed with old.  Most cards are still affordable - although the market for classic collectibles is starting to mature pretty rapidly.
    </section>
  </section>
  <%= wwemc_purchase %>
  <section>
    <section>
      Like a "combination of chess and poker", every game of Magic is engaging and provides a steady stream of relevant decisions.  Very, very few other games can create such a consistent balance.
    </section>
  
    <section>
      It seems that almost everyone who knows Magic well considers it to be the greatest game in the world.
    </section>
  </section>
  <%= wwemc_purchase %>
  <section>
    <section>
      When you learn Magic, you'll have a conversation topic with thousands and thousands of bright, friendly people the world over.
    </section>
  
    <section>
      Magic's environments are healthy communities.  Some people are rude, but most are actually pretty delightful!
    </section>
  </section>
  <%= wwemc_purchase %>
</section>
