<p>
  <strong><%= @book.title %></strong>
</p>

<p>
  by <%= @book.author %>
</p>

<% edition = @book.editions.last %>
<% if edition %>
  <%= div_with_data_for edition do %>
    <%= content_tag :header do %>
      version <%= edition.version %>
    <% end %>
    <% @book.table_of_contents.in_edition(edition).chapterish.order(:ordering).map(&:chapter).each do |chapter| %>
      <%= div_with_data_for chapter do %>
        <%= content_tag :header do %>
          <%= link_to chapter.title, chapter_path(chapter, :book_id => @book.id, :edition_id => edition.id) %>
        <% end %>
        <%= chapter.subtitle %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
