<!DOCTYPE html>
<html>
  <head>
    <title>Ways We Mage<%= @html_title ? " - #{@html_title}" : '' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_analytics %>
    <%= google_fonts %>
    <%= facebook_pixel %>
    <%= yield :open_graph %>
  </head>	
	
  <body>
		<%= facebook_initializer %>
    <%= site_logo %>
    <%= login_links %>
    <%= ways_we_mage_social_links %>
    <%= shelf %>
    <%= review_kit %>
    
    <%= yield %>
    
    <%#= footer_call_to_action %>
    <%= footer_links %>
  </body>
</html>
