<!DOCTYPE html>
<html>
  <head>
    <title>Ways We Mage<%= @html_title ? " - #{@html_title}" : '' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= google_fonts %>
    <%= facebook_initializer %>
    <%= facebook_pixel %>
  </head>

  <body>
    <%= site_logo %>
    <%= login_links %>
    <%= shelf %>
    <%= review_kit %>
    
    <%= yield %>
    
    <%= footer_call_to_action %>
    <%= footer_links %>
  </body>
</html>
